<div class ="background">
    <nav>
        <img src="~/Images/logo-tesla-1024.png"  width=220 height=120>
        <ul class="cabeçalho-link">
            <li><a href="#">Model S</a></li>
            <li><a href="#">Model 3</a></li>
            <li><a href="#">Model x</a></li>
            <li><a href="#">Model y</a></li>
            <li><a href="#">PowerWall</a></li>
            <li><a href="#">Carregamento</a></li>
            <li><a href="#">Serviço de apoio</a></li>
            <li><a href="#">Loja</a></li>
            <li><a href="#">Conta</a></li>
            <li><a href="#">Menu</a></li>

        </ul>
    </nav>
</div>
